Hello ADMIN, the user:<strong> {{ breeder.user.username }} </strong>, just registered a new <strong>Breeder</strong> account. <br>
The complete information is: <br>
<strong>Full Name: </strong> {{breeder.user.full_name}} <br>
<strong>Email: </strong> {{breeder.user.email}} <br>
<strong>Breeder type: </strong> {{breeder.breeder_type}} <br>
<strong>Bussiness name: </strong> {{breeder.business_name}} <br>
<strong>Bussiness website: </strong> {{breeder.business_website}} <br>
<strong>Country: </strong> {{breeder.country.name}} <br>
<strong>State: </strong> {{breeder.state.name}} <br>
<br>
<br>
--<br>
This mail has sent you by TapVet administration system <br>