Hello ADMIN, the user:<strong> {{ vet.user.username }} </strong>, just registered a new <strong>Vet account</strong> account.<br>
The complete information is: <br>
<strong>Full Name: </strong> {{vet.user.full_name}} <br>
<strong>Email: </strong> {{vet.user.email}} <br>
<strong>Veterinarian type: </strong> {{vet.get_veterinarian_type_display}} <br>
<strong>Area interest: </strong> {{vet.area_interest}} <br>
<strong>Veterinary school: </strong> {{vet.veterinary_school}} <br>
<strong>Graduating year: </strong> {{vet.graduating_year}} <br>


--
This mail has sent you by TapVet administration system